:root {
  --slide-width: 80vw;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #25282a;
  display: flex;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

input[type="radio"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.slider {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider__content {  
  display: flex;
  overflow-x: hidden;
  width: var(--slide-width);
  align-items: center;
  transition: .3s;
  padding-bottom: 1em;  
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--slide-width);
  transform: scale(0.8);  
  transition: .3s ease-in-out;
}

.slider__content img {
  max-width: var(--slide-width);
  max-height: 70vh;
  border-radius: 0.8em;
  -webkit-box-shadow: 0.3em 0.3em 0.1em 0 #000000; 
  box-shadow: 0.3em 0.3em 0.1em 0 #000000;
}

.slider__footer {  
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  width: var(--slide-width);
  min-height: 20vh;
  
}

.slider__titles {
  display: flex;
  max-width: 60%;
}

.slider__title {
  display: none;  
}

.slider__title p {
  margin: 0.4em 0;
}

.slider__dots {
  display: flex;
  
}

.slider__dot {
  display: inline-block;
  color: #7faae8;
  width: 1.15em;
  height: 1.15em;

  border: 0.15em solid #7faae8;
  background-color: #7faae8;
  border-radius: 50%;
}

.slider__radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.slider__radio-label:hover {
  cursor: pointer;  
}

.slider__radio-label:hover >.slider__dot {
  background-color: #25282a;
}


#radio1:checked ~.slider__footer .slider__dots #dot1,
#radio2:checked ~.slider__footer .slider__dots #dot2,
#radio3:checked ~.slider__footer .slider__dots #dot3,
#radio4:checked ~.slider__footer .slider__dots #dot4,
#radio5:checked ~.slider__footer .slider__dots #dot5 {
  background-color: #25282a;
}

#radio1:checked ~.slider__footer .slider__titles #title1,
#radio2:checked ~.slider__footer .slider__titles #title2,
#radio3:checked ~.slider__footer .slider__titles #title3,
#radio4:checked ~.slider__footer .slider__titles #title4,
#radio5:checked ~.slider__footer .slider__titles #title5 {
  display: inline-block;
  animation: show .3s ease-in-out;
}

#radio1:checked ~.slider__content .slide_first {
  margin-left: 0vw;
}

#radio2:checked ~.slider__content .slide_first {
  margin-left: calc(-1*var(--slide-width)*1);
}

#radio3:checked ~.slider__content .slide_first {
  margin-left: calc(-1*var(--slide-width)*2);
}

#radio4:checked ~.slider__content .slide_first {
  margin-left: calc(-1*var(--slide-width)*3);
}

#radio5:checked ~.slider__content .slide_first {
  margin-left: calc(-1*var(--slide-width)*4);
}

#radio1:checked ~.slider__content #image1,
#radio2:checked ~.slider__content #image2,
#radio3:checked ~.slider__content #image3,
#radio4:checked ~.slider__content #image4,
#radio5:checked ~.slider__content #image5 {
  animation: slide-show .3s ease-in-out;
  transform: scale(1);
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-show {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
  .slider__footer {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
  }
  .slider__dots {
    order: 1;
    align-self: center;
  }
  .slider__titles {
    order: 2;
  }
}
